body {
    background-image: url("gifs/vert.gif");
}

.textstyle {
    color: rgb(0, 0, 0);
    font-family: 'Courier New', Courier, monospace;
}

.textcenter {
    text-align: center;
}

p.bar {
    text-align: right;
    font-size: large;
    color: white;
    margin: 0 5px 0 5px;
}

div.bar{
    background-color: deeppink;
    width: 65%;
    Padding: 0 50px 0 50px;
    margin-top: 50px;

    border-radius: 5px 5px 0 0;
    border-style: solid;
    border-width: medium;
    border-color: deeppink;
}

div.main {
    background-color: rgba(255, 228, 239, 0.95);
    width: 65%;
    Padding: 50px 50px 50px 50px;
    margin-bottom: 50px;
    border-radius: 0 0 5px 5px;
    border-style: solid;
    border-width: medium;
    border-color: deeppink;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

ul {
    list-style-image: url("gifs/tinysparklestar.gif");
  }